.HeaderSection {
  padding: 20px 80px;
  position: sticky;
  top: 0;
  z-index: 999;

  .NavIntroFlex {
    display: flex;

    img {
      object-fit: contain;
      margin-right: 10px;
    }

    span {
      display: block;
      color: #98a2b3;
      font-size: 14px;
    }

    h6 {
      font-size: 20px;
      color: #fff;
    }
  }

  .Navbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    background: #171717;
    padding: 20px 20px;
    display: flex;
    position: relative;
    box-shadow: -10px 20px 80px -20px #fd853a;

    li {
      color: #fff;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      transition: color 0.3s ease;
      width: 174px;
      position: relative;
      z-index: 2;
      padding: 15px 0;
    }

    li.active {
      /* background: #fd853a; */
      border-radius: 100px;
    }
  }

  .slider-bar {
    position: absolute;
    bottom: 20%;
    height: 57px;
    background: #fd853a;
    border-radius: 2px;
    transition: all 0.3s ease;
    border-radius: 100px;
    z-index: 1;
  }
}
