.SkillsPageSection {
    padding: 3em 8em;
}

.SkillsPageSection h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    color: #eee;
}

.SkillsPageSection ul li{
    display: flex;
    align-items: center;
    background: #06273C;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid #343434;
    border-radius: 20px;
    padding: 30px;
    transition: 0.5s ease-in-out;
}

.SkillsPageSection ul li:hover{
    background: #073756;
}

.SkillsPageSection ul li h4 img{
    width: 70px;
    margin-right: 20px;
}

.SkillsPageSection ul li h4{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    color: #eee;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.SkillsPageSection ul li hr{
    display: block;
    width: 4px;
    height: 100px;
    border: none;
    background-color: #073E61;
    margin-right: 50px;
}

.SkillsPageSection ul li p{
    text-align: right;
    min-width: 800px;
    max-width: 800px;
    width: 800px;
}

.SkillsPageSection ul li p span{
    color: #C0C0C0;
    font-size: 18px;
    border: 1px solid #C0C0C0;
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 0 10px 8px;
}