@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("../src/assets/fonts/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ANIMATION CSS */

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-down,
.animate-slide-up,
.animate-slide-left,
.animate-slide-right {
  opacity: 0;
}

.animate-slide-down.visible {
  animation: slide-down 0.6s ease-out forwards;
}
.animate-slide-up.visible {
  animation: slide-up 0.6s ease-out forwards;
}
.animate-slide-left.visible {
  animation: slide-left 0.6s ease-out forwards;
}
.animate-slide-right.visible {
  animation: slide-right 0.6s ease-out forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-in-out {
  opacity: 0;
}

.animate-fade-in-out.visible {
  animation: fade-in-out 2s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  opacity: 0;
}

.animate-fade-in.visible {
  animation: fade-in 0.8s ease-in forwards;
}

@keyframes bounce-ball {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animate-bounce-ball {
  animation: bounce-ball 2s infinite;
}

/* END ANIMATION CSS */

body {
  font-family: "Outfit", sans-serif;
  background-color: #fff7ef;
  color: #1d2939;
}

section {
  scroll-margin-top: 120px;
}

.MobileHeader {
  display: none !important;
}

/* -------------------- MEDIA RESPONSIVE CSS */

@media only screen and (max-width: 600px) {
  .MobileHeader {
    display: flex !important;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    /* background: #1D2939; */

    .NewLogo {
      width: 150px;
    }
  }

  .HeaderSection,
  .IntroOneBox,
  .IntroThreeBox {
    display: none !important;
  }

  .HeadingSection {
    display: block !important;

    h2 {
      font-size: 30px !important;
      span {
        font-size: 14px !important;
      }
    }

    button {
      margin-top: 20px !important;
      padding: 16px 30px !important;
      font-size: 16px !important;
    }
  }

  section {
    div.swiper {
      height: 330px !important;

      .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
      }

      .swiper-pagination-bullet-active {
        width: 40px !important;
        height: 10px !important;
      }
    }

    padding: 20px !important;

    .IntroTwoBox .BulrbgCta {
      width: auto !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
    }

    .IntroTwoBox .BulrbgCta button {
      font-size: 18px !important;
      padding: 6px 20px !important;

      img {
        width: 40px !important;
      }
    }
  }

  .UXProcessPagesection {
    & .UXProcessCardsBox {
      .ArrowImg {
        display: none !important;
      }
    }
  }

  .AboutPageSection {
    .AboutBox {
      padding: 30px 20px !important;
      border-radius: 20px !important;

      img{
        margin: 30px auto 10px !important;
      }

      p {
        font-size: 16px !important;
      }
    }
  }

  .SkillsPagesection {
    .SkillsFlex {
      display: block !important;
    }
  }

  .SkillsPagesection {
    & .SkillsFlex {
      .SkillsFlexCard {
        margin: 0 auto 20px !important;
      }
    }
  }

  .ToolkitPagesection {
    .ToolkitFlex {
      display: block !important;
    }
    .ToolkiFlexCard {
      margin: 0 auto 20px !important;
    }
  }

  .TestimonialPagesection div.swiper {
    .TestimonialBox {
      padding: 20px !important;

      p {
        font-size: 15px !important;
      }
    }

    height: 410px !important;
  }

  .ConnectPagesection {
    .ConnectFlex {
      display: block !important;

      .ConnectFlexCard {
        width: auto !important;
        margin: 0 auto 40px !important;
      }
    }
  }

  .FooterPagesection {
    h5 {
      text-align: center;
    }

    .FooterFlex {
      margin-top: 30px !important;
      display: block !important;

      a {
        margin-right: 10px !important;
        margin-bottom: 10px !important;
      }
    }

    h6 {
      font-size: 16px !important;
    }

    h4 {
      font-size: 30px !important;
    }

    padding: 40px 20px !important;
  }

  .FeaturedSectionPage {
    & .CustomSwiperBox {
      .pr-\[80px\]{
        padding-right: 0px !important;
      }
      h3{
        font-size: 20px !important;
      }

      p{
        font-size: 16px !important;
      }
      .NextArrowImg {
        width: 60px !important;
      }
    }
    
    .CustomSwiperBox{
      width: 100% !important;
      margin: 0 auto 20px !important;
    }
  }
}
