.AboutPageSection {
  padding: 60px 80px;

  .AboutBox {
    padding: 60px 150px;
    background: #171717;
    border-radius: 50px;
    text-align: center;

    p {
      font-size: 26px;
      color: #fff;

      b{
        color: #FD853A;
      }
    }

    img{
        margin: 50px auto 10px;
    }

    h4{
        font-size: 26px;
        color: #fff;
        font-weight: bold;
    }

    h6{
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }
  }
}
